body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f0f0f0;
  padding: 20px;
}

h1 {
  color: #fff;
}

button {
  margin-top: 80px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}
